@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech', sans-serif;
}

:root {
    --primary-color: #F94C10;
}


body{
    background-color: #E5E5E5 !important;
}

main {
    background-color: #E5E5E5;
    width: 100vw;
    color: rgb(36, 34, 34);
}

h2 {
    margin-bottom: 50px !important;
}

/* HEADER */

header {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: black;
}

nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    position: fixed;
    top: 0;
    background-color: #1e1e1e;
    z-index: 100;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
    margin: 0;
    text-transform: uppercase !important;
}

.nav-item {
    text-decoration: none;
    color: white;
    transition: 400ms;
    font-size: 1.5rem;
}

.nav-item:hover {
    color: var(--primary-color);
}

.banner-wrapper {
    width: 100%;
    height: 100%;
}

.banner-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .85;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-hack {
    margin-top: 100px;
    background-color: var(--primary-color) !important;
    color: white !important;
    border: none;
    font-size: 2rem;
    padding: 20px 30px;
    text-transform: capitalize;
    transition: 400ms;
    letter-spacing: 10px;
    text-decoration: none;
}

.btn-hack:hover {
    background-color: #6244e9;
    box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.322);
}

.title {
    font-size: 7rem;
    color: white;
    text-align: center;
    text-shadow: 2px 4px 10px black;
}

.menu-btn {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 200;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    display: none;
}

section {
    padding-top: 60px !important;
}

/* O HACKATHON */

.cards-hack {
    margin-top: 50px !important;
}

.card-hack {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-hack img {
    height: 65px;
    margin-bottom: 15px;
}

#hackathon {
    margin-top: 100px;
}

/* REGRAS */

.regra {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px !important;
}

.regra h3, .regra p {
    margin-bottom: 0 !important;
}

.regras-number {
    background-color: var(--primary-color);
    min-width: 50px !important;
    height: 50px !important;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E5E5;
    font-size: 2rem;
    margin-right: 10px;
    transform: translateY(-5px);
}

.row-regras {
    margin-bottom: 100px !important;
}

/* Cronograma */

#cronograma {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contato */

#contato {
    height: 80vh !important;
    padding-bottom: 50px;
}

#contato > .row {
    height: 100% !important;
}

#contato > .row > .col-md-6 {
    padding: 0 !important;
}

.form-img-wrapper {
    object-fit: cover !important;
    height: 100%;
    overflow: hidden !important;
}

.form-img-wrapper  img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.form-group {
    margin-bottom: 20px;
}

.btn-form {
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    padding: 10px 0;
    font-size: 1.2rem;
    margin-top: 20px;
    border: none;
}

form {
    padding: 40px 15px;
    background-color: #1e1e1e;
    color: white;
    height: 100%;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column-reverse;
        padding: 0;
        min-height: 100vh !important;
        max-height: 100vh !important;
        width: 0;
        overflow: hidden;
        padding-bottom: 25px;
    }

    nav.show {
        width: 300px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        padding: 0;
        width: 100%;
    }

    .nav-item  {
        font-size: 1.5rem;
    }

    .menu-btn {
        display: block;
    }

    .tb-descricao {
        display: none;
    }

    .form-img-wrapper {
        display: none !important;
    }

    .title {
        font-size: 3rem;
    }


}

