@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech', sans-serif;
}

:root {
    --primary-color: #f16334;
    --secondary-color: #333;
}

html {
    scroll-behavior: smooth;
}


body{
    background-color: #E5E5E5 !important;
    width: 100vw;
    height: max-content;
    overflow-x: hidden;
}

main {
    background-color: #E5E5E5;
    width: 100vw;
    color: rgb(36, 34, 34);
}

h2 {
    margin-bottom: 50px !important;
    text-decoration: var(--secondary-color);
}

strong {
    color: var(--primary-color);
}

/* HEADER */

header {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--secondary-color);
}

#hackathon-link {
    font-size: 3rem !important;
}

nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    position: fixed;
    top: 0;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    z-index: 100;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
    margin: 0;
    text-transform: uppercase !important;
}

.nav-item {
    text-decoration: none;
    color: white;
    transition: 400ms;
    font-size: 1.5rem;
}

.nav-item:hover {
    color: var(--primary-color);
}

.banner-wrapper {
    width: 100%;
    height: 100%;
}

.banner-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .05;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-hack {
    margin-top: 100px;
    background-color: var(--primary-color) !important;
    color: white !important;
    border: none;
    font-size: 2rem;
    padding: 20px 30px;
    text-transform: capitalize;
    transition: 400ms;
    letter-spacing: 10px;
    text-decoration: none;
}

.btn-hack:hover {
    background-color: #6244e9;
    box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.322);
}

.title {
    font-size: 7rem;
    color: white;
    text-align: center;
    text-shadow: 2px 4px 10px black;
}

.menu-btn {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 200;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    display: none;
}

section {
    padding-top: 75px !important;
}

/* O HACKATHON */

.cards-hack {
    margin-top: 50px !important;
}

.card-hack {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-hack img {
    height: 65px;
    margin-bottom: 15px;
}

#hackathon {
    margin-top: 100px;
}

/* REGRAS */

.regra {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px !important;
}

.regra h3, .regra p {
    margin-bottom: 0 !important;
}

.regras-number {
    background-color: var(--primary-color);
    min-width: 50px !important;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E5E5;
    font-size: 2rem;
    margin-right: 10px;
    transform: translateY(-5px);
}

.row-regras {
    margin-bottom: 100px !important;
}

/* Cronograma */

.cronograma {
    width: 100% !important;
    margin-bottom: 20px;
    color: var(--primary-color) !important;
}

.cronograma > h2 {
    margin: 0 !important;
}

#cronograma {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Premiacao */

#premiacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.premios-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.premio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.premio > i {
    font-size: 5rem;
    margin-bottom: 20px !important;
}

#gold {
    color: #D5AD6D; /*if no support for background-clip*/
    background: -webkit-linear-gradient(transparent, transparent),
    -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#silver {
    color: rgb(255,242,181);
      background-image: linear-gradient(rgb(150,150,150) 55%, 
          rgb(40,40,40) 65%,
          rgb(77,77,77) 84%);
      text-align: center;
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
}

#bronze {
    color: #D5AD6D; /*if no support for background-clip*/
    background: -webkit-linear-gradient(transparent, transparent),
    -webkit-linear-gradient(top, rgb(207, 147, 97) 0%, rgb(213, 138, 109) 26%, rgba(226,186,120,1) 35%, rgb(163, 105, 67) 45%, rgb(145, 83, 59) 61%, rgb(213, 156, 109) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}



@media (max-width: 768px) {
    nav {
        flex-direction: column-reverse;
        padding: 0;
        min-height: 80vh !important;
        max-height: 80vh !important;
        width: 0;
        overflow: hidden;
        padding-bottom: 25px;
        clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 94%, 94% 100%, 0 100%, 0 100%, 0% 20%);
    }

    nav.show {
        width: 300px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        padding: 0;
        width: 100%;
    }

    .nav-item  {
        font-size: 1.5rem;
    }

    .menu-btn {
        display: block;
    }

    .tb-descricao {
        display: none;
    }

    .form-img-wrapper {
        display: none !important;
    }

    .title {
        font-size: 3rem;
    }

    .header-content {
        width: 95vw;
    }


}

